*{
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}
  

li{
  list-style: none;
}

a {
  text-decoration: none;
}

.logo img{
  width: 150px;
 
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 45px;
  background-color: rgb(144, 212, 255);
}
.gnb-list{
  display: flex;
  justify-content: space-between;
  width: 350px;
}
.gnb-item a {
  color: aliceblue;
  font-weight: bold;
  font-size: 20px;
  padding: 22px 10px;
 
}
.background{
 
  height: 600px;
  background-image: url(../imges/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px 45px;
  
}
.back-txt{
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(32, 68, 127);
}
.back-title{
  font-size: 45px;
}
.back-content{
  width: 80%;
  margin-top: 30px;
  font-size: 24px;
  text-align: center;
}
.back-btn{
  margin-top: 30xp;
  padding: 10px 20px;
  border-radius: 10px;
  border: 3px solid #508bf0;
  font-weight:bold;

}
.post-box-list{
  display: flex;
  justify-content: center;
  margin-top: -80px;
  flex-direction: column;
}
.post-box-item{
  
  
  font-family: 'Rubik Puddles', cursive;
  padding: 30px 20px;
  color: rgb(13, 93, 131);
  width: 500px;
  margin-top: 20px;
  text-align: center;
  background-color: rgb(168, 230, 255);
  
  box-shadow: 7px 7px #3c829e;
}
.post-box-item:last-child{
  margin-right: 0;
}
.post-box-item p {
  margin-top: 35px;
}
 footer{
  
  margin-top: 120px;
  background-color: aquamarine;
 }
 .global-footer{
  height: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 0;}
 .footer-list{
  display: flex;
 }
 .footer-item{
  margin-right: 20px;
 }
 
 .fo0ter-item:last-child{
  margin-right: 0;
 }
 .footer-item a {
  color: #508bf0;
 }