*{
  margin: 0;
  padding: 0;
  font-family: 'Gaegu', cursive;
  font-family: 'Oswald', sans-serif;
  font-family: 'Pangolin', cursive;
  font-family: 'Playfair', serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Sunflower', sans-serif;
  
}

li{
  list-style: none;
}

a {
  text-decoration: none;
}

.logo img{
  width: 150px;
 
}
 header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 0px 45px;
  background-color: rgb(144, 212, 255);
  box-sizing: border-box;
}
.gnb-list{
  display: flex;
  justify-content: space-between;
  width: 350px;
}
.gnb-item a {
  color: aliceblue;
  font-weight: bold;
  font-size: 20px;
  padding: 22px 10px;
 transition: color 500ms;
}

/*.gnb-item a:hover {
  color: #666;
}*/
/*nav에 호버 했을때 gnb-item이라는 클래스 안에있는
a태그들한테 중괄호 안에 스타일에 적용*/

/*nav:hover.gnb-item a {
  color: #a54e4e;
}*/
.background{
 
  height: 600px;
  background-image: url(../imges/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px 45px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.back-txt{
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(32, 68, 127);
}
.main-title{
  font-size: 45px;
}
.main-content{
  
  margin-top: 20px;
  
}
.main-btn{
  margin-top: 20xp;
  padding: 10px ;
  border-radius: 10px;
  border: none;
  border-radius: 25px;
  font-weight:bold;

}
.post-box-list{
  display: flex;
  justify-content: center;
  margin-top: -80px;
  flex-direction: column;
}
.post-card{
  position: relative;
  top: -90px;
}
.post-card > div{
 width: 80%;
 background-color: #508bf0;
 max-width:600px; 
 /*min-width:최소폭을 결정하는 속성:300px이하로는 작아지지말아라*/
 /*max-width는 최대폭을 결정하는 속성:600px이상은 커지지말아라*/
 margin: 30px  auto  0 auto;
 padding: 30px;
 text-align: center;
 border-radius: 10px;
 margin-top: 50px;


}
.post-box-item:last-child{
  margin-right: 0;
}
.post-box-item p {
  margin-top: 35px;
}
 footer{
  
  margin-top: 120px;
  background-color: aquamarine;
 }
 .global-footer{
  height: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 0;}
 .footer-list{
  display: flex;
 }
 .icon-1ist{
  margin-right: 20px;
  color: #88959b;
 }
 
 .icon-1ist last-child{
  margin-right: 0;
 }
 .icon-1ist a {
  color: #508bf0;
 }
 
 .fixed-back-img{
  width: 1200px;
  height: 600px;
  background-color: #ffffff;
  background-image: url(../imges/시나모롤_메인.jpg);
  background-repeat: no-repeat;
  background-size: 700px;
  background-position:center bottom ;
  background-attachment: fixed;
 }
 .fixed-back{
  height: 600px;
  background-color:#508bf0 ;
 }
 footer{
  background-color: skyblue;
  justify-content: space-between;
 }
 .global-footer{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;

  .global-footer h3{
  color: #fff;
  }
  
 }
 .icon-item{
  display: flex;
  margin: 0 auto;
 }
 .icon-item a {
  padd
  padding-right: 20px;
 }
 icon-item:last-child a {
  padding-right: 0;
 }
 .top-btn i{
font-size: 38px;
color: #fff;
 }
 .top-btn{
  position: fixde;
  bottom: 30px;
  right: 30px;
 }
 .side-menu{
  position: fixed;
  top:150px;
  right:50px;
 }
 .side-menu-list{
  
 }
 .side-menu-item{
  width: 200px;
  background-color:#adc9fa
  border-radius: 5px;
  box-shadow: 1px 0.5px 0.5px #666;}
 
 .side-menu-item a {
  transition: all 500ms;
  display: inline-block;
  padding: 5px 5px;
  margin-top: -75px;
  
 }
 .side-menu-item a:hover  {
  color: #88959b;
  text-decoration: underline;

 }
 